* {
  box-sizing: border-box;
}

.chat-main {
  width: 300px;
  height: 100%;
}

.chat-top-text {
  font-weight: bold;
  font-size: 12pt;
  margin-top: 10px;
  margin-left: 15px;
  color: var(--color3);
}

.chat-box-and-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-self: flex-end;
}

.chat-box-flex {
  height: 100%;
  max-height: calc(100% - 91px);
  display: flex;
  flex-direction: column-reverse;
  overflow: auto;
  overflow-x: hidden;
  padding-left: 15px;
  margin-top: 15px;
}

.chat-card {
  line-height: 110%;
  margin-bottom: 8px;
  margin-top: 4px;
}

.chat-form-flex {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  justify-items: flex-end;
  height: 95px;
  justify-content: flex-end;
  align-content: flex-end;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chat-form-flex div {
  margin-bottom: 3px !important;
  margin-top: 0px !important;
  width: 100% !important;
}

.realtime-chat-messages {
  display: flex !important;
  flex-direction: column-reverse !important;
  overflow: auto;
}