* {
  box-sizing: border-box;
}

.create-main {
  background-color: var(--color2);
  padding: 25px;
  border-radius: 10px;
}

.text-color {
  color: var(--color4) !important;
}

[title="Roomname"] {
  color: var(--color4) !important;
}

[title="Genre"] {
  color: var(--color4) !important;
}

[title="Genre2"] {
  color: var(--color4) !important;
}
