

.banner {
    position: absolute;
    bottom: 31rem;
    left: 38.5%;
    font-size: 4em;
    margin-bottom: auto;
    width: auto;
    color: white;
}

.subtext1 {
    position: absolute;
    bottom: 24rem;
    left: 33%;
    font-size: 1.8em;
    vertical-align: middle;
    text-align: center;
    color: white;
}

.landingButton {
    position: absolute;
    bottom: 11rem;
    left: 44%;
    font-size: 2em;
    vertical-align: middle;
}

.logo {
    position: absolute;
    bottom: 38rem;
    left: 4%;
}