* {
  box-sizing: border-box;
}

.old_body {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  font-family: "Franklin Gothic Medium";
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  font-family: "Franklin Gothic Medium";
}

.result_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  width: 1040px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.result_card {
  padding-left: 5px;
  padding-bottom: 20px;
}

.result_card img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
}

.search_box {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.search_bar {
  width: 50%;
}

.search_button {
  background-color: #aaaaaa;
  border: none;
  height: 40px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 15px;
}

.room_album_image img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.room_play_button img {
  width: 50px; 
  height: 50px; 
  margin-top: 30px;
  margin-left: 75px;
}

.progress1 {
  width: 1px;
  height: 4px;
  background: #7de9d7;
  transition: width .1s linear;
}

.container1 {
  width: 200px;
  background: rgb(80, 79, 79);
  text-align: center;
  padding-bottom: 10px;
}

.grid1 {
  height: 500px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  justify-items: center;
}

.musicplayer {
  padding: 10px;
}

.queue1 {
  border-color:rgb(80, 79, 79);
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  width: 300px;
}

.songdiv {
  margin-top: 15px;
  margin-left: 15px;
}

.songdiv img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.chatdiv {
  border-color:rgb(80, 79, 79);
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  width: 300px;
  height: 450px;
}

.chatflex {
  display: flex;
  flex-direction: column;

}